@model List<GetUrlVM>;

@{
	ViewData["Title"] = "All short links";
}

@{
	if (TempData["Error"] != null)
	{
		<div class="container">
			<div class="alert alert-danger alert-dismissible fade show">
				<strong>Error!</strong> @TempData["Error"]
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		</div>
	}
}

<div class="container">
	<a asp-action="Index" asp-controller="Home" class="btn btn-outline-success">Add New</a>
</div>

<div class="container">
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Original link</th>
				<th scope="col">Shortened link</th>
				<th scope="col">Number of clicks</th>
				<th scope="col">User</th>
				<th scope="col">Options</th>
			</tr>

		</thead>

		<tbody>

			@foreach(var url in Model)
			{
				<tr>
					<td>@url.Id</td>
					<td>@url.OriginalLink</td>
					<td>@url.ShortLink</td>
					<td>@url.NumberOfClicks</td>
					<td>@(url.User !=null ? url.User.FullName : "-")</td>
					<td>
						<a class="btn btn-outline-danger" asp-controller="URL" asp-action="Remove">Remove</a>
					</td>
				</tr>
			}
			
		</tbody>
	</table>
</div>